<div id="<%= dom_id cat %>">
  <p>
    <strong>Name:</strong>
    <%= cat.name %>
  </p>

  <p>
    <strong>Birth date:</strong>
    <%= cat.birth_date %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= cat.color %>
  </p>

  <p>
    <strong>Sex:</strong>
    <%= cat.sex %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= cat.description %>
  </p>

</div>
