<%= form_with(model: cat) do |form| %>
  <% if cat.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(cat.errors.count, "error") %> prohibited this cat from being saved:</h2>

      <ul>
        <% cat.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block"%>
    <%= form.text_field :name%>
  </div>

  <div>
    <%= form.label :birth_date, style: "display: block" %>
    <%= form.date_field :birth_date %>
  </div>

  <div>
    <%= form.label :color, style: "display: block" %>
    <%= form.select :color, Cat::COLORS, prompt: 'Select a Color' %>
  </div>

  <div>
    <%= form.label 'Male' %>
    <%= form.radio_button :sex, 'M'%>
    <%= form.label 'Female' %>
    <%= form.radio_button :sex, 'F'%>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
